/***************************ID SELECTOR***************************/

#title{
    background-color: #ff4c68;
}

/***************************TAG SELECTOR***************************/

h1 {
    font-family: 'Montserrat', sans-serif;
    size: 3rem;
    line-height: 1.5;
    color: white;
}

/***************************CLASS SELECTOR***************************/


.container-fluid{
    padding: 3% 15%;
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/
