/***************************TAG SELECTOR***************************/


h1 {
  line-height: 2;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0px auto;
  font-size: 5.625em;
  color: #66BFBF;
  
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  color: #66BFBF;
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

body {
  font-family: 'Merriweather', serif;
  display: block;
  margin: 0px;
  text-align: center;
}

/***************************CLASS SELECTOR***************************/

.topContainer {
  position: relative;
  background-color: #e4f9f5;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-top: 80px;
}

.programmer{
  font-weight: normal;
  font-size: 2rem;
}

.pro {
  text-decoration: underline;
  background-color: #a6e3e9;
}

.headingContainer {
  display: none;
  background-color: gold;
  width: 100px;
  height: 100px;
  position: absolute;
  margin: 0 auto 0 auto;
}

.middleContainer {
  display: none;
  position: absolute;
  background-color: red;
  width: 100px;
  height: 100px;
  left: 100px;
  top: 100px;
}

.bottomContainer {
  display: none;
  position: absolute;
  background-color: blue;
  width: 100px;
  height: 100px;
  left: 200px;
  top: 200px;

}

.cloudOne {
  display: inline-block;
  position: absolute;
  right: 200px;
  top: 50px;
}

.cloudTwo {
  display: inline-block;
  position: absolute;
  bottom: 300px;
  left: 200px;
}

.skill-row {
  line-height: 2;
  text-align: left;
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
}

.skillText {
  text-align: left;
}

.computer {
  margin-right: 30px;
  width: 25%;
  float: left;
}

.chillies {
  margin-left: 30px;
  width: 25%;
  float: right;
}