/***************************TAG SELECTOR***************************/


h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: block;
  margin-block-start: 0pxm;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

body {
  display: block;
  margin: 0px;
  text-align: center;
}
/***************************CLASS SELECTOR***************************/
.topContainer {
  background-color: #e4f9f5;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.pro {
  text-decoration: underline;
  background-color: #11999e;
}

.headingContainer {
  display: none;
  background-color: gold;
  width: 100px;
  height: 100px;
  position: absolute;
}

.middleContainer {
  display: none;
  position: absolute;
  background-color: red;
  width: 100px;
  height: 100px;
  left: 100px;
  top: 100px;
}

.bottomContainer {
  display: none;
  position: absolute;
  background-color: blue;
  width: 100px;
  height: 100px;
  left: 200px;
  top: 200px;

}

.cloudOne {
  display: inline-block;
  position: relative;
  left: 250px;
}

.cloudTwo {
  display: inline-block;
  position: absolute;
  top: 200px;
  left: 150px;
}